---
import Layout from "../layouts/Layout.astro";
import MainButton from "../components/MainButton.astro";
import BorderlessCard from "../components/BorderlessCard.astro";

import brandLogo from "../assets/brandLogo.png";
import heroImage1 from "../assets/heroImage1.png";
import heroImage2 from "../assets/heroImage2.png";
import heroImage3 from "../assets/heroImage3.png";
import reason1 from "../assets/reason1.png";
import reason2 from "../assets/reason2.png";
import reason3 from "../assets/reason3.png";
import reason4 from "../assets/reason4.png";
import showcaseSmall from "../assets/showcaseSmall.png";
import showcaseLarge from "../assets/showcaseLarge.png";
---

<Layout title="Green Thumbs Gardening - Home">
  <main>
    <section id="heroSection" class="bg-gPrimary text-gBright">
      <div class="flex container md:flex-col">
        <div
          class="w-[50%] md:w-full flex flex-col items-center gap-5 2xl:gap-1 py-64 md:py-10"
        >
          <span
            id="heroBrand"
            class="flex text-5xl 2xl:text-3xl lg:text-xl w-[80%] 2xl:w-[70%] lg:w-[90%] md:w-auto sm:justify-center font-[600] sm:text-center items-center"
          >
            <div
              class="w-[130px] h-[130px] 2xl:w-[100px] 2xl:h-[100px] lg:w-[80px] lg:h-[80px]"
            >
              <img
                class="object-contain h-full"
                src={brandLogo.src}
                alt="brand logo"
              />
            </div>
            <h1 class="sm:w-min">GREEN THUMBS GARDENING</h1>
          </span>
          <div
            class="w-[80%] 2xl:w-[70%] lg:w-[90%] md:text-center flex flex-col items-center"
          >
            <div class="uppercase text-2xl 2xl:text-lg lg:text-base px-3">
              Your oasis of tranquility awaits!
            </div>
            <div
              class="text-xl 2xl:text-base w-[75%] lg:w-[100%] px-3 font-normal md:text-center"
            >
              Let's start the journey to your dream garden together.
            </div>
          </div>
          <div
            class="w-[80%] 2xl:w-[70%] flex justify-center 2xl:justify-end md:justify-center md:py-1"
          >
            <MainButton><div class="2xl:text-base">DIG IN!</div></MainButton>
          </div>
        </div>
        <div
          class="w-[50%] max-w-[100vw] overflow-hidden md:w-full flex flex-col gap-2 justify-center py-10 px-32 2xl:px-8"
        >
          <div>
            <img
              class="h-full w-[350px] 2xl:w-[300px] lg:w-[200px] md:w-[300px] object-contain"
              src={heroImage1.src}
              alt="hero showcase 1"
              data-custom-parallax
              data-custom-parallax-horizontal="0.5"
            />
          </div>
          <div class="flex justify-end">
            <img
              class="h-full w-[350px] 2xl:w-[300px] lg:w-[200px] md:w-[300px] object-contain"
              src={heroImage2.src}
              alt="hero showcase 2"
              data-custom-parallax
              data-custom-parallax-horizontal="-0.3"
            />
          </div>
          <div class="pl-10 sm:pl-0">
            <img
              class="h-full w-[350px] 2xl:w-[300px] lg:w-[200px] md:w-[300px] object-contain"
              src={heroImage3.src}
              alt="hero showcase 3"
              data-custom-parallax
              data-custom-parallax-horizontal="0.3"
            />
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="py-32 2xl:py-24 md:py-20 text-gShade bg-gBright">
      <div class="container flex flex-col items-center gap-10">
        <div class="flex flex-col gap-4">
          <h2
            class="text-center uppercase text-gPrimary font-bold text-3xl 2xl:text-2xl container"
          >
            WHO WE ARE
          </h2>
          <p
            class="container px-48 2xl:px-32 lg:px-20 md:px-10 sm:px-2 text-lg"
          >
            At GreenThumb Gardens, we believe that a beautiful garden is the
            heart of a thriving home. Our passion for gardening and commitment
            to excellence have made us the go-to choice for all your gardening
            needs. Whether you have a tiny terrace, a sprawling estate, or
            anything in between, we have the green thumbs and expertise to
            transform your outdoor space into a verdant paradise.
          </p>
        </div>
        <div class="flex flex-col gap-4">
          <h3
            class="text-center uppercase text-gPrimary font-bold text-2xl 2xl:text-xl container"
          >
            WHY COOSE GREEN THUMBS
          </h3>
          <div
            class="flex gap-20 md:flex-wrap md:w-[50%] md:mx-auto md:gap-y-1 md:justify-center"
          >
            <BorderlessCard imageSrc={reason1.src} caption="EXPERTISE" />
            <BorderlessCard
              imageSrc={reason2.src}
              caption="PERSONALIZED SERVICE"
            />
            <BorderlessCard
              imageSrc={reason3.src}
              caption="SUSTAINABLE PRACTICES"
            />
            <BorderlessCard
              imageSrc={reason4.src}
              caption="COMPREHENSIVE SERVICE"
            />
          </div>
        </div>
      </div>
    </section>
    <section class="py-16 2xl:py-0 bg-gBright sm:hidden">
      <div class="flex justify-center container">
        <div
          class="container h-[700px] 2xl:h-[500px] lg:h-[300px] sm:h-[150px] flex"
        >
          <div class="flex-[0.3] relative flex items-center">
            <img
              class="w-full h-full 2xl:w-[80%] object-contain absolute left-[30%]"
              src={showcaseSmall.src}
              alt="showcase small image"
              data-custom-parallax
              data-custom-parallax-horizontal="-0.03"
            />
          </div>
          <div class="flex-[0.7] flex items-center">
            <img
              class="h-full object-cover 2xl:object-contain"
              src={showcaseLarge.src}
              alt="showcase large image"
              data-custom-parallax
              data-custom-parallax-horizontal="0.03"
            />
          </div>
        </div>
      </div>
    </section>
    <section id="contact" class="py-16 2xl:py-20 bg-gBright">
      <div class="container flex flex-col items-center gap-10">
        <h3
          class="text-center uppercase text-gPrimary font-bold text-3xl 2xl:text-2xl"
        >
          CONTACT US
        </h3>
        <!-- REPLACE WITH YOUR OWN Form-spark url -->
        <form
          class="flex flex-col gap-5 text-xl 2xl:text-lg w-[500px] sm:w-full"
          action="https://submit-form.com/l45wBLfM"
        >
          <div class="flex flex-col gap-2">
            <label for="email">Email <span class="text-red-500">*</span></label>
            <input
              class="px-4 py-2"
              name="email"
              type="email"
              placeholder="john@example.com"
              required
            />
          </div>
          <div class="flex flex-col gap-2">
            <label for="text">Message <span class="text-red-500">*</span></label
            >
            <textarea
              name="message"
              class="resize-none px-4 py-2"
              rows="6"
              required
              placeholder="Type your message here"></textarea>
          </div>
          <div class="flex justify-end">
            <MainButton type="submit">
              <span class="text-gBright text-xl 2xl:text-lg">SUBMIT</span>
            </MainButton>
          </div>
        </form>
      </div>
    </section>
  </main>
</Layout>
