---
import blogPosts from "../blogposts";
interface Props {
  blogPost: (typeof blogPosts)[number];
}

const { blogPost } = Astro.props;
---

<a
  href=`/blog/${blogPost.postId}`
  class="w-full flex md:flex-col gap-5 bg-white h-[250px] md:h-auto"
>
  <div class="flex-[0.3]">
    <img
      class="w-full h-full object-cover"
      src={blogPost.headerImage}
      alt="blog post head image"
    />
  </div>
  <div class="flex-[0.7] flex flex-col justify-center gap-2 md:p-3">
    <div class="text-3xl font-semibold">{blogPost.title}</div>
    <div class="text-xl font-base">{blogPost.author}</div>
    <div class="text-lg font-base italic">{blogPost.date}</div>
  </div>
</a>
